<div class="row">
        <div class="col offset-1">
            <div class="card">
              <div class="card-header d-inline-flex justify-content-between align-items-center">
                <H2>Lista Estudiantes</H2>
                <button class="btn btn-outline-danger">Agregar Estudiantes</button>
              </div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Estudiantes</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Profesor/a</th>
                        <th scope="col">Tutor/a</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let lista of data">
                        <td>{{lista.nombre}}</td>
                        <td>{{lista.curso}}</td>
                        <td>{{lista.profesor}}</td>
                        <td>{{lista.tutor}}</td>
                        <td>
                          <i class="fa fa-pencil mr-3"></i>
                          <i class="fa fa-trash-o"></i></td>
                      </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
